<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>노벨팟 | 당신이 주인공이 되는 시간</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<style>
    a{
        color: black;
        text-decoration: none;
    }
</style>
<body>
    <header class="p-3 bg-dark text-white">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/view/index" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none " style="margin-right: 42px;">
                <img src="https://ellui.notion.site/ellui/27c2d2c5800743229e0452b7c733d024" style="width: 50px; filter: brightness(0) invert() ;" alt="">
            </a>
    
            <ul class="nav col-9 col-lg-auto me-lg-auto mb-2 justify-content-between mb-md-0 ">
              <li><a href="/view/index" class="nav-link px-2 text-white" style="margin-right: 24px;">홈</a></li>
              <li><a href="/view/list" class="nav-link px-2 text-white" style="margin-right: 24px;">목록</a></li>
              <li><a href="/view/rank" class="nav-link px-2 text-secondary" style="margin-right: 24px;">랭킹</a></li>
              <li><a href="/view/form" class="nav-link px-2 text-white" style="margin-right: 24px;">글쓰기</a></li>
              <li><a href="/view/login" class="nav-link px-2 text-white" style="margin-right: 24px;">로그인</a></li>
                <li><a href="/view/register" class="nav-link px-2 text-white" >회원가입</a></li>
            </ul>
    
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
            </form>
    
          
          </div>
        </div>
      </header>

  
  <div class="container pt-3 mb-5 pb-5">
        <h4 class="title mt-5 mb-2 text-center" >인기순위</h4>
        <table class="table text-center">
            <thead>
                <th>#</th>
                <th>제목</th>
                <th>작성자</th>
                <th>조회수</th>
            </thead>

            <tbody>
            <tr th:each="board : ${boards}">
                <th th:text="${board.getId()}">325</th>
                <td><a th:href="@{/name(id=${board.getId()})}" th:text="${board.getTitle()}">내가 알고보니 재벌2세?</a></td>
                <td th:text="${board.getMember().getNickname()}">김뛰뛰빵빵</td>
                <td th:text="${board.getView()}">32543</td>
            </tr>

            </tbody>
        </table>
  </div>






  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/view/index" style="padding-right: 24px;" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <img src="https://ellui.notion.site/ellui/27c2d2c5800743229e0452b7c733d024" style="width: 40px;" alt="">
        </a>
        <span class="text-muted">© 2023 reproduce-maker</span>
      </div>

      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-muted" href="https://www.instagram.com/imnow._.05/"><i style="font-size: 24px;" class="fa-brands fa-instagram"></i></a></li>
      </ul>
    </footer>
  </div>
</body>
</html>